<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="ideas-content">
        <h2>All ideas</h2>
        <% if(ideas.length > 0){ %> 
            <% ideas.forEach(idea => { %> 
                <a href="/ideas/<%= idea._id %>">
                    <h3 class="title"><%= idea.title %></h3>
                    <p class="snippet"><%= idea.snippet %> </p>
                </a>
                
            <%  }) %> 
         <% } else { %>
            <p>there are no ideas</p>
       <% } %> 
        
    </div>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>